<!-- Sidebar start -->
<div class="sidebar">
    <!-- Reference: https://www.gethalfmoon.com/docs/sidebar -->
    <br/><br/>
    <div class="sidebar-divider"></div>
    <br/>
    <a href={{ url_for('main.index') }} class="sidebar-link sidebar-link-with-icon">
        <span class="sidebar-icon">
        <i class="fas fa-file-upload" aria-hidden="true"></i>
        </span>
        <button class="btn btn-primary btn-block" type="button">Upload</button>
    </a>
    <a href={{ url_for('main.documentation') }} class="sidebar-link sidebar-link-with-icon">
        <span class="sidebar-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        <button class="btn btn-primary btn-block" type="button">API Documentation</button>
    </a>
    <br/>
    <div class="sidebar-divider"></div>
    <br/>
    <a href={{ url_for('main.account') }} class="sidebar-link sidebar-link-with-icon">
        <span class="sidebar-icon">
        <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <button class="btn btn-primary btn-block" type="button">Account</button>
    </a>
    {% if current_user.group.admin %}
        <a href={{ url_for('main.site_setting') }} class="sidebar-link sidebar-link-with-icon">
            <span class="sidebar-icon">
            <i class="fas fa-cog" aria-hidden="true"></i>
            </span>
            <button class="btn btn-primary btn-block" type="button">Site Setting</button>
        </a>
        <a href={{ url_for('main.manage_group') }} class="sidebar-link sidebar-link-with-icon">
            <span class="sidebar-icon">
            <i class="fas fa-cog" aria-hidden="true"></i>
            </span>
            <button class="btn btn-primary btn-block" type="button">Manage Groups</button>
        </a>
        <a href={{ url_for('main.manage_user') }} class="sidebar-link sidebar-link-with-icon">
            <span class="sidebar-icon">
            <i class="fas fa-cog" aria-hidden="true"></i>
            </span>
            <button class="btn btn-primary btn-block" type="button">Manage Users</button>
        </a>
    {% endif %}

    <br/>
    <div class="sidebar-divider"></div>
    <br/>
    <a href={{ url_for('auth.logout') }} class="sidebar-link sidebar-link-with-icon">
        <span class="sidebar-icon">
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
        </span>
        <button class="btn btn-danger btn-block" type="button">Log out</button>
    </a>
    <br/>
    <div class="sidebar-divider"></div>
</div>
<!-- Sidebar end -->