{% extends 'base.html' %}
{% block content %}
<div class="row row-eq-spacing-lg">
    <!-- create group form -->
    <div class="modal" id="create-group" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="btn close" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h5 class="modal-title">Create a group</h5>
                <form action="{{ url_for('main.manage_group') }}" method="post">
                    <div class="form-group">
                        <label for="name" class="required">Group name</label>
                        {{ create_group_form.name(placeholder="Group name",class="form-control",type="text") }}
                    </div>
                    <div class="form-group">
                        <label for="number">Space limit (bytes, default 536870912 = 512MiB)<br>0 for unlimited</label>
                        {{ create_group_form.space_limit(placeholder="Space limit",class="form-control",type="number") }}
                    </div>
                    {{ create_group_form.create(class='btn btn-primary btn-block',type='submit',value='Create') }}
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <h2 class="card-title"><i class="fas fa-user" aria-hidden="true"></i> Manage Groups</h2>
            <div class="card-content">
                <a href="#create-group" class="btn btn-success" role="button">Create Group</a>
            </div>
        </div>
    </div>
    <!-- Delete group submit -->
    {% for group in groups %}
        {% if group.id != 1 %}
            <div class="modal" id="modal-{{ group.id }}" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <a href="#" class="close" role="button" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                        <h5 class="modal-title">Delete Group '{{ group.name }}'</h5>
                        <p>
                            Are you sure you want to delete group '{{ group.name }}'?
                            All users within the group will also be deleted.
                        </p>
                        <form id="{{ group.id }}" action="{{ url_for('main.manage_group') }}" method="post">
                            {{ delete_group_form.group_id(value=group.id) }}
                        </form>
                        <div class="text-right mt-20">
                            <button onclick="location.href='#'" class="btn mr-5">Close</button>
                            <button type="submit" class="btn btn-danger" form="{{ group.id }}">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <!-- Manage Group -->
    {% for group in groups %}
        {% if group.id != 1 %}
            <div class="modal" id="modal-0{{ group.id }}" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form id="{{ group.id }}" action="{{ url_for('main.manage_group') }}" method="post">
                            {{ manage_group_form.group_id(value=group.id) }}
                            <div class="form-group">
                                <label for="name">Group name</label>
                                {{ manage_group_form.name(type='text',
                                class='form-control',
                                id='name',
                                placeholder='Group name',
                                value=group.name) }}
                            </div>
                            <div class="form-group">
                                <label for="space">Space limit</label>
                                {{ manage_group_form.space_limit(type='number',
                                class='form-control',
                                id='space',
                                placeholder='Space limit',
                                value=group.space_limits) }}
                            </div>
                            {% set switch_id = group.id | string() %}
                            <div class="custom-switch">
                                {% if group.extension_setting %}
                                    {{ manage_group_form.extension_setting(type='checkbox',
                                    id='switch-' + switch_id,
                                    checked='checked') }}
                                    <label for="switch-{{ switch_id }}">File extension settings</label>
                                {% else %}
                                    {{ manage_group_form.extension_setting(type='checkbox',
                                    id='switch-' + switch_id) }}
                                    <label for="switch-{{ switch_id }}">File extension settings</label>
                                {% endif %}
                            </div>
                            <br>
                            <span class="badge">Turn on for whitelist, off for blacklist, separate extension by ",", i.e. png,gif,svg</span>
                            <br><br>
                            <div class="form-group">
                                {{ manage_group_form.extensions(type='text',
                                class='form-control',
                                id='extension',
                                placeholder='Extensions',
                                value=group.extensions_input) }}
                            </div>
                            {{ manage_group_form.submit(class='btn btn-primary btn-block',
                            type='submit',
                            value='Save') }}
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <!-- Group list -->
    <div class="col-lg-8">
        <div class="card">
            <h2 class="card-title">Group List</h2>
            <div class="overflow-auto">
                <table class="table table-no-outer-padding">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Space Limit</th>
                            <th>User Count</th>
                            <th>Manage</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    {% for group in groups %}
                        {% if group.id != 1 %}
                            <thead>
                                <tr>
                                    <th>{{ group.name }}</th>
                                    <th>{{ "Infinite" if group.space_limits == 0 else group.space_limit }}</th>
                                    <th>{{ group.user_count }}</th>
                                    <th class="text-left">
                                         <a href="#modal-0{{ group.id }}" class="btn btn-secondary" role="button">⚙</a>
                                    </th>
                                    <th class="text-left">
                                         <a href="#modal-{{ group.id }}" class="btn btn-danger" role="button">❌</a>
                                    </th>
                                </tr>
                            </thead>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}