{% extends 'base.html' %}
{% block content %}
<div class="row row-eq-spacing-lg">
    <div class="col-lg-4">
        <div class="card">
            <br>
            <h2 class="card-title"><i class="fas fa-user" aria-hidden="true"></i> Default group</h2>
        </div>
        <div class="card">
            <p>Group: {{ current_user.group.name }}</p>
            <p>Username: {{ current_user.username }}</p>
            <p>Email: {{ current_user.email }}</p>
            <p>File upload count: {{ current_user.upload_count }}</p>
            <p>Space used: {{ current_user.space_used }} out of {{ current_user.group.space_limit }}</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}