{% extends 'base.html' %}
{% block content %}
<div class="row row-eq-spacing-lg">
    <div class="col-lg-4">
        <div class="card">
            <br>
             <h2 class="card-title"><i class="fas fa-user" aria-hidden="true"></i> Welcome, {{ current_user.username }}!</h2>
        </div>
        <div class="card">
            <p>Group: {{ current_user.group.name }}</p>
            <p>Username: {{ current_user.username }}</p>
            <p>Email: {{ current_user.email }}</p>
            <p>File upload count: {{ current_user.upload_count }}</p>
            <p>Space used: {{ current_user.space_used }} out of {{ current_user.group.space_limit }}</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <h2 class="card-title">Edit Site Setting</h2>
            <form action={{ url_for('main.site_setting') }} method="post" class="w-600 mw-full">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="username">Site title</label>
                    {{ form.site_title(type='text',
                    class='form-control',
                    id='title',
                    value=site_setting.site_title) }}
                </div>
                <div class="form-group">
                    <label for="username">Site description</label>
                    {{ form.site_description(type='text',
                    class='form-control',
                    id='description',
                    value=site_setting.site_description) }}
                </div>
                <div class="custom-switch">
                    {% if site_setting.guest_upload %}
                        {{ form.guest_upload(type='checkbox',
                        id='switch-upload',
                        checked='checked') }}
                        <label for="switch-upload">Guest upload</label><br><br>
                    {% else %}
                        {{ form.guest_upload(type='checkbox',
                        id='switch-upload') }}
                        <label for="switch-upload">Guest upload</label><br><br>
                    {% endif %}
                </div>
                <div class="custom-switch">
                    {% if site_setting.api %}
                        {{ form.api(type='checkbox',
                        id='switch-api',
                        checked='checked') }}
                        <label for="switch-api">API</label><br><br>
                    {% else %}
                        {{ form.api(type='checkbox',
                        id='switch-api') }}
                        <label for="switch-api">API</label><br><br>
                    {% endif %}
                </div>
                <label for="select-group">Default group</label>
                {{ form.default_group(class_='form-control',
                id='select-group') }}
                <br>
                {{ form.submit(class='btn btn-primary btn-block',
                type='submit',
                value='Save') }}
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}