{% extends 'base.html' %}
{% block content %}
<div class="row row-eq-spacing-lg">
    <div class="col-lg-4">
        <div class="card">
            <br>
             <h2 class="card-title"><i class="fas fa-user" aria-hidden="true"></i> Welcome, {{ current_user.username }}!</h2>
        </div>
        <div class="card">
            <p>Group: {{ current_user.group.name }}</p>
            <p>Username: {{ current_user.username }}</p>
            <p>Email: {{ current_user.email }}</p>
            <p>File upload count: {{ current_user.upload_count }}</p>
            <p>Space used: {{ current_user.space_used }} out of {{ current_user.group.space_limit }}</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <h2 class="card-title">Placeholder</h2>
            Placeholder<br/>

        </div>
    </div>
    {% with passed = get_flashed_messages() %}
    {% if passed %}
    <script>
        setTimeout(toastDangerAlert, 100);
        function toastDangerAlert() {
            halfmoon.initStickyAlert({
                content: "{{ passed[0] }}",
                title: "Alert",
                alertType: "alert-danger",
                fillType: "filled"
            });
        }
    </script>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}